# .editorconfig
# =============
#
# Copying
# -------
#
# Copyright (c) 2020 Jimmy Thrasibule <dev@jimmy.lt>.
#
# This file is part of the *thrasibule.mx* project. This software project and
# associated documentations files (the "Software") are exclusive property of
# it's authors. It is prohibited to deal with the Software without explicit
# authorization and agreement given by its authors. Restrictions include but not
# limited to: the rights to use, copy, modify, merge, publish, distribute,
# sublicense, sell copies of the Software.
#
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_size = 2
