[submodule "mx/thrasibule/projects/href.sh"]
	branch = main
	path = mx/thrasibule/projects/href.sh
	url = https://github.com/Thrasibule-Mx/href.sh.git
[submodule "mx/thrasibule/projects/kado"]
	branch = main
	path = mx/thrasibule/projects/kado
	url = https://github.com/Thrasibule-Mx/kado.git
[submodule "mx/thrasibule/projects/none"]
	branch = main
	path = mx/thrasibule/projects/none
	url = https://github.com/Thrasibule-Mx/none.git
[submodule "mx/thrasibule/projects/zyn"]
	branch = main
	path = mx/thrasibule/projects/zyn
	url = https://github.com/Thrasibule-Mx/zyn.git
[submodule "mx/thrasibule/universe/config"]
	path = mx/thrasibule/universe/config
	url = https://github.com/Thrasibule-Mx/universe-config.git
[submodule "mx/thrasibule/universe/images"]
	branch = main
	path = mx/thrasibule/universe/images
	url = https://github.com/Thrasibule-Mx/universe-images.git
[submodule "mx/thrasibule/universe/internal"]
	path = mx/thrasibule/universe/internal
	url = https://github.com/Thrasibule-Mx/universe-internal.git
[submodule "mx/thrasibule/universe/staging"]
	branch = main
	path = mx/thrasibule/universe/staging
	url = https://github.com/Thrasibule-Mx/universe-staging.git
