[submodule "mx/thrasibule/projects/zyn"]
	path = mx/thrasibule/projects/zyn
	url = git@bitbucket.org:thrasibule-mx/zyn.git
[submodule "mx/thrasibule/projects/mx"]
	path = mx/thrasibule/projects/mx
	url = git@bitbucket.org:thrasibule-mx/mx.git
[submodule "mx/thrasibule/projects/none"]
	path = mx/thrasibule/projects/none
	url = git@bitbucket.org:thrasibule-mx/none.git
[submodule "mx/thrasibule/projects/href.sh"]
	path = mx/thrasibule/projects/href.sh
	url = git@bitbucket.org:thrasibule-mx/href.sh.git
[submodule "mx/thrasibule/projects/kado"]
	path = mx/thrasibule/projects/kado
	url = git@bitbucket.org:thrasibule-mx/kado.git
[submodule "mx/thrasibule/projects/lightpath/hw"]
	path = mx/thrasibule/projects/lightpath/hw
	url = git@bitbucket.org:thrasibule-mx/lightpath-hw.git
[submodule "mx/thrasibule/universe/staging"]
	path = mx/thrasibule/universe/staging
	url = git@bitbucket.org:thrasibule-mx/universe-staging.git
